// Colors
$backColor: #eee;
$altRow: #ccc;
$borderColor: #bbb;
$headerColor: green;
$offBlack: rgba(111, 117, 117, 0.507);
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$maxWidth: 120rem;
$boardWidth: 90%;
//fonts
$mainFonts: Helvetica, Arial, sans-serif;
